body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #ff952f;
}

   {
    box-sizing: border-box;
   }
.contenedor{
     width: 155px;
     padding: 35px;

}

.formulario{
  background: white;
  margin-top: 150px;
  padding: 120px;

}
h1{
   font: bold 90% monospace;
  text-align: center;
  color: Black;
  font-size: 40px;
  position: absolute;
  top:115px;
  left: 541px;
}
input[type="text"],
input[type="password"]{
   font-size: 20px;
   width: 82%;
   padding: 10px;
   border: none;

}
.input-contenedor{
  margin-bottom: 12px;
  border: 1px solid #aaa;

}

.icon{

  text-align:right;
}
.button{
  border: none;
  width: 100%;
  color: White;
  font-size: 21px;
  background: #011b4f;
  padding: 15px 10px;
  border-radius: 7px;
  cursor: pointer;

}
.button:hover{
  background: cadetblue;
}
p{
  text-align: center;
  font-size: 18px;

  left: 532px;
  position: absolute;
  top:270px;
}
.link{
  text-decoration: none;
  color: Black;
  font-weight: 600;
  font-style: italic;
}
.Mensajee{

background-color: #7cff88;
border-radius: 9px;
padding-top: 20px;
padding-right: 20px;
padding-bottom: 20px;
padding-left: 20px;

   color:Black;
   position: absolute;
   font-family: monospace;
   top:200px;
   left: 458px;
   font-size: 20px;

}


.link:hover{
  color: cadetblue;
}
@media (min-width:768px)
{
  .formulario{
    margin:auto;
    width: 350px;
    margin-top: 120px;
    border-radius: 2.5%;
  }
}
}
